root = true

[*.{kt,kts}]
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_function_naming_ignore_when_annotated_with= Composable
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
max_line_length = 140

[app/src/main/java/com/jerboa/DefaultInstances.kt]
ktlint = disabled

