<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".JerboaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jerboa"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Jerboa"
            android:launchMode="standard"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- The main instances-->
            <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="https"/>
              <data android:host="beehaw.org"/>
              <data android:host="feddit.de" />
              <data android:host="feddit.it" />
              <data android:host="lemmy.ca" />
              <data android:host="lemmy.ml" />
              <data android:host="lemmy.one" />
              <data android:host="lemmy.world" />
              <data android:host="lemmygrad.ml" />
              <data android:host="midwest.social" />
              <data android:host="mujico.org" />
              <data android:host="sh.itjust.works" />
              <data android:host="slrpnk.net" />
              <data android:host="sopuli.xyz" />
              <data android:host="szmer.info" />
            </intent-filter>
        </activity>
    </application>

</manifest>
