<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".JerboaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jerboa"
        tools:targetApi="33">
        <profileable android:shell="true"/>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.Jerboa"
            android:launchMode="standard"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="https"/>
              <!--#AUTO_GEN_INSTANCE_LIST_DO_NOT_TOUCH#-->
              <data android:host="lemmy.world"/>
              <data android:host="lemmy.ml"/>
              <data android:host="beehaw.org"/>
              <data android:host="feddit.de"/>
              <data android:host="sh.itjust.works"/>
              <data android:host="www.hexbear.net"/>
              <data android:host="lemmy.ca"/>
              <data android:host="lemm.ee"/>
              <data android:host="lemmy.one"/>
              <data android:host="lemmy.fmhy.ml"/>
              <data android:host="lemmy.dbzer0.com"/>
              <data android:host="lemmy.blahaj.zone"/>
              <data android:host="lemmygrad.ml"/>
              <data android:host="programming.dev"/>
              <data android:host="discuss.tchncs.de"/>
              <data android:host="sopuli.xyz"/>
              <data android:host="lemmy.sdf.org"/>
              <data android:host="vlemmy.net"/>
              <data android:host="midwest.social"/>
              <data android:host="aussie.zone"/>
              <data android:host="startrek.website"/>
              <data android:host="infosec.pub"/>
              <data android:host="feddit.uk"/>
              <data android:host="dormi.zone"/>
              <data android:host="feddit.it"/>
              <data android:host="pawb.social"/>
              <data android:host="feddit.nl"/>
              <data android:host="burggit.moe"/>
              <data android:host="slrpnk.net"/>
              <data android:host="lemmy.nz"/>
              <data android:host="feddit.dk"/>
              <data android:host="delraymisfitsboard.com"/>
              <data android:host="reddthat.com"/>
              <data android:host="mander.xyz"/>
              <data android:host="feddit.cl"/>
              <data android:host="lemmy.zip"/>
              <data android:host="lemmy.pt"/>
              <data android:host="dataterm.digital"/>
              <data android:host="lemmy.eco.br"/>
              <data android:host="szmer.info"/>
              <data android:host="latte.isnot.coffee"/>
              <data android:host="monyet.cc"/>
              <data android:host="exploding-heads.com"/>
              <data android:host="waveform.social"/>
              <data android:host="lemmy.tedomum.net"/>
              <data android:host="enterprise.lemmy.ml"/>
              <data android:host="pathofexile-discuss.com"/>
              <data android:host="iusearchlinux.fyi"/>
              <data android:host="yiffit.net"/>
              <data android:host="ttrpg.network"/>
              <data android:host="lemmyrs.org"/>
              <data android:host="sub.wetshaving.social"/>
              <data android:host="monero.town"/>
              <data android:host="bakchodi.org"/>
              <data android:host="geddit.social"/>
              <!--#INSTANCE_LIST_END#-->
            </intent-filter>
        </activity>
    </application>

</manifest>
